<html>
<head>
</head>
<body style="margin:0;margin-left:100px;padding:0;background-color:transparent;">
<div style="background-image:url('/static/pic/bangui.jpg');height:100%;width:500px;">
<p>
版规<br />
1、	在本网站注册的用户，拥有公共版面用户权限<br /><br />
2、注册ID用户中含有攻击、侮辱、挑衅、猥亵等内容的，或带有广告性质的ID用户，我们有随时取消其用户名的权力。 <br /><br />

3、	不能发表广告、无意义、有政治风险、低俗、色情、恶心、虚构、找不到浪漫点的帖子<br /><br />

4、	发帖请加上【点子】前缀。方便自己也方便别人<br /><br />

5、请不要发布与点子无关的帖子。<br /><br />

6、	如有疑问或建议，请点击右侧“给点建议”提议，您的支持是我们进步的最大动力！<br /><br />

</p>
</div>
</body>
</html>
