<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN”
“http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>
<html xmlns=”http://www.w3.org/1999/xhtml” >
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
<script src="/static/js/jquery.mCustomScrollbar.js"></script>

<link href="/static/css/wenzhang.css" rel="stylesheet" type="text/css" /> 
<link href="/static/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" language="javascript">
      $(document).ready(function (){
	  $("#newa").mouseleave(function(){
$(this).attr("src","/static/pic/button/newchat_1.png");
})
$("#newa").mouseover(function(){
$(this).attr("src","/static/pic/button/newchat_2.png");
})
$("#fresh").mouseleave(function(){
$(this).attr("src","/static/pic/button/refresh_1.png");
})
$("#fresh").mouseover(function(){
$(this).attr("src","/static/pic/button/refresh_2.png");
})
$("#newa").click(function (){
window.location.href="http://www.langman1dian.com/editor/?a="+Math.random()+"&hh="+{{ hh|escape }};
})
$("#fresh").click(function(){
location.reload();
})
      });
      </script>
</head>
<body style="background-color:transparent">

<div id="sm1" style="height:96%;width:98%;overflow:hidden;display:none;">
<div id="content_1" class="content">
{% for  post in posts.object_list %} 
{% ifequal post.author.sex 'male' %}
<div class="typeHolder" style="background-color:#7bbfea;padding:2 2 0 2;">
<span class="wz" style="color:#{{ post.author.color }};">{{ post.author|escape }}</span> 
<span class="wz" style="display:block;width:80%;font-size:24px;"><b>{{ post.title }}</b></span> 
<span class="id" id="12" style="display:none;">{{ post.id|escape }}</span> 
<span class="wz" style="float:right;background-image:url('/static/pic/tip_1.png');width:40px;height:36px;text-align:center;padding:5px;margin-top:-4%;"><font color="white">{{ post.click|escape }}</font></span> 
<span class="wz" style="float:right;">{{ post.date|date:"Y-m-d" }}</span>
<span class="wz" style="float:right;margin-right:10px;">{{ post.date|date:"H:i:s" }}</span>
<img id="line1" src="/static/pic/button/line1.png" />
</div> 
{% endifequal %}
{% ifequal post.author.sex 'female' %}
<div class="typeHolder" style="background-color:#FF9791;padding:2 2 0 2;">
<span class="wz" style="color:#{{ post.author.color }};">{{ post.author|escape }}</span> 
<span class="wz" style="display:block;width:80%;font-size:24px;"><b>{{ post.title }}</b></span> 
<span class="id" id="12" style="display:none;">{{ post.id|escape }}</span> 
<span class="wz" style="float:right;background-image:url('/static/pic/tip_1.png');width:40px;height:36px;text-align:center;padding:5px;margin-top:-4%;"><font color="white">{{ post.click|escape }}</font></span> 
<span class="wz" style="float:right;">{{ post.date|date:"Y-m-d" }}</span>
<span class="wz" style="float:right;margin-right:10px;">{{ post.date|date:"H:i:s" }}</span>
<img id="line1" src="/static/pic/button/line1.png" />
</div> 
{% endifequal %}
   {% endfor %} 
    <div class="pageli" style="display:none;">  
   <div class="pagination"> 
   <span class="step-links"> 
   {% if posts.has_previous %} 
   <a href="?page={{ posts.previous_page_number|escape }}">previous</a> 
   {% endif %} 
   
   <span class="current"> 
   Page {{ posts.number|escape }} of {{  posts.paginator.num_pages|escape }}. 
   </span> 
   
   {% if posts.has_next %} 
   <a href="?page={{ posts.next_page_number|escape }}&hh={{ hh|escape }}" class="nextpage">next</a> 
   <a id="nextpage2" >next</a> 
   {% else %}
   <a href="" class="nextpage">next</a> 
   <a id="nextpage2" >next</a>
   {% endif %} 
   </span> 
   </div> 
   </div> 
    <img id="loading2" src="/static/pic/loading2.gif" style="width:30px;height:30px;margin-left:45%;visibility:hidden;">
</div>
<div id="youce" class="img5">
<img id="fresh" class="img5" src="/static/pic/button/refresh_1.png" />
<img id="newa" class="img5" src="/static/pic/button/newchat_1.png" />
</div>

    <script type="text/javascript" >
$(document).ready(function(){
$(".typeHolder").click(function(){
window.location="http://www.langman1dian.com/show4/?id="+$(this).find("#12").html()+"&a="+Math.random();
})
})
   </script>
   <script type="text/javascript">
$(document).ready(function() {
var browser=navigator.appName;
if(browser=="Microsoft Internet Explorer" ){
$("#content_1").css("height",screen.height*0.68);
}
})
</script>
   <script>
			$(document).ready(function(){
			$("#sm1").css("display","");
				$("#content_1").mCustomScrollbar({
					scrollButtons:{
						enable:true
					},
					callbacks:{
    onTotalScroll: function(){
	 var href1 = $(".nextpage").attr("href"); 
			 if (href1!=""){
			 $("#loading2").css("visibility","");
			 $(".nextpage").attr("href","");
 $.ajax({ 
 type:"get", 
 url: href1, 
 success:function(data){ 
 $("#loading2").remove();
 var html1=$(data).find(".content").html();
 $(".pageli").remove(); 
 $(".content .mCSB_container").append(html1); 
 $(".content").mCustomScrollbar("update");
 $(".typeHolder").click(function(){
window.location="http://www.langman1dian.com/show4/?id="+$(this).find("#12").html()+"&a="+Math.random();
})
 } 
 })}
	}
}
				});
			});
	</script>
</div>
<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F22cfa18f88a971cf58f97da7b729d25d' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
