<html>
<head>
</head>
<body style="background-color:transparent">
<div style="margin-left:100px;">
<img src="/static/pic/bz.jpg" />
<h1>{{ title2 }}</h1>
</div>
<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F22cfa18f88a971cf58f97da7b729d25d' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>
